@keyframes loadingMove {
    from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-150px);
      }
}

.loading-box { 
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 95%;
    height: 900px;
}

#loading {
    animation: loadingMove 0.3s infinite alternate;
}