.team-box {
    height: 900px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-card {
    background-color: bisque;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 10px;

    border: 8px inset orange;
    box-shadow: 10px 10px 5px rgb(56, 56, 56);

    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.team-card img {
    width: 200px;
    height: 200px;
}

.team-card:hover {
    -webkit-transform: scale(110%);
    transform: scale(110%);
}